<p>modify-the-car works!</p>
<div>
    <table border="5" [cellPadding]="10" [cellSpacing]="2">
        <tr>
            <td>cNo</td>
            <td>cName</td>
            <td>cPrice</td>
        </tr>
        <tr>
           <td><input type="number" [(ngModel)]="carToAdd.cNo"></td>
           <td><input type="text" [(ngModel)]="carToAdd.cName"></td>
           <td><input type="number" [(ngModel)]="carToAdd.cPrice"></td>
        </tr>
        <tr>
            <button (click)="localView()">modify cars</button>
        </tr>
    </table>
</div>