<h1>car project is running</h1>
<!-- :"seeAllCarss",component:SeeTheAllCarsComponent},
  {path:"seeCar",component:SeeTheSingleCarComponent},
  {path:"create",component:CreateTheCarComponent},
  {path:"modify",component:ModifyTheCarComponent},
  {path:"delete" -->
<ul>
  <li>
    <a routerLink="/seeAllCarss">see all the cars</a>
  </li>
  <li>
    <a routerLink="/seeCar">see the single car</a>
  </li>
  <li>
    <a routerLink="/create">create a car</a>
  </li>
  <li>
    <a routerLink="/modify">modify a car</a>
  </li>
  <li>
    <a routerLink="/delete">delete a car</a>
  </li>
</ul>
<router-outlet></router-outlet>